@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google font optional yahan bhi import kar sakti ho */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}
